<%- include('./partials/header');%>


<div class="container">
  <div class="d-flex p-2"></div>
    <h1>More About Me.</h1>
    <p></p>

     <div class="thumbnail" >
        <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-0/p206x206/32687938_1057431251074265_1562992629702983680_o.jpg?_nc_cat=106&_nc_sid=da31f3&_nc_eui2=AeHf1VW-CkBcSf1SefOkWmRCHIy-rD6jddUcjL6sPqN11QXhZPbYNbfmcbGRgH7yPQp_YIO8nOOxxGCI5_gNVi1R&_nc_ohc=AFFcErBvrb0AX84Wki_&_nc_ht=scontent-jnb1-1.xx&_nc_tp=6&oh=7466bf12fa6c850210a28c604555db7d&oe=5EEB9C66">
     </div>

      <table>
        <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Info</th>
         </tr>
        </thead>
        <tbody>
         <tr>
            <th scope="row">1</th>
            <td>Name</td>
            <td>Anton</td> 
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>Surname</td>
            <td>Ferreira</td> 
          </tr>

            <tr>
              <th scope="row">3</th>
              <td>Nationality</td>
              <td>South African</td> 
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Occupation</td>
              <td>Full stack web developer</td> 
            </tr>

            <tr>
              <th scope="row">5</th>
              <td>Languages</td>
              <td>HTML, CSS, Javascript, Python</td> 
            </tr>

            <tr>
              <th scope="row">6</th>
              <td>Tools</td>
              <td>Express, Bootstrap, Flexbox, Node.js, jQuery, MongDB, REST, EJS, Mongoose, SQL, React</td> 
            </tr>

           
            <tr>
              <th scope="row">7</th>
              <td>Previous projects</td>
              <td>Blog app. Various front-end applications. Appointment Scheduler, E-Commerce, 
                calculator (Will continiously add more)</td> 
            </tr>

            <tr>
              <th scope="row">8</th>
              <td>Training</td>
              <td><ul>
                  <li>Web development bootcamp - Udemy</li>
                  <li>Complete Python - Udemy</li>
                  <li>Basic networking - ECN</li>
                  <li>Networking Fundamentals - Juniper</li>
                  <li>National Diploma Electrical Engineering(Light Current) - Pretoria Technical College</li>
              </ul></td> 
            </tr>

            <tr>
              <th scope="row">9</th>
              <td>Github</td>
              <td>Cody352</td> 

            </tr>

        </tbody>
      </table>
  

  <p></p>

    <p>
      <strong>I love new challanges!!!</strong> After working as a electronic technician for more than 25 years, I love solving
      problems and finding solutions. Anything that can make life easier. Software development is hard, but that is what makes it 
      such a great challange and why I absolutely love it. I continiously learn new things and absolutely thrive while discovering
      new things and ways to improve myself and my work.
     <p></p>
      <strong>I have a great love for people.</strong>  After all, we use technology to communicate with each other. This is the best of both worlds for me.
      <em>I believe in finishing what I started and want to look back at my work with pride and the pleasure of a smiling, happy client.</em>
      
    </p>

  <a class="btn  btn-lg btn-warning" href="/" role="button">Home</a>
</div>
</div>

<%- include('./partials/footer');%>

