<%- include('./partials/header');%>

<div class="container">
    <h1>Where to reach me.</h1>

<p></p>

<table border="1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Subject</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>e-mail</td>
        <td>polokwane.anton@gmail.com</td> 
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>LinkedIn</td>
        <td>Anton Ferreira</td> 
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Phone</td>
        <td>072 683 3268 / 073 000 5791</td> 
      </tr>

    </tbody>
</table>
    <p>
        <h3><em>It is preferable that I be contacted through e-mail since I may not always be available through other means of communication.
                I do appologise for any inconvenience.</em></h3>
    </p>

  <p></p>

    <a class="btn  btn-lg btn-warning" href="/" role="button">Home</a>

    <p></p>

</div>

<%- include('./partials/footer');%>

